<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Início</a></li>
                <li><a href="{{ url_for('upload') }}">Upload CSV</a></li>
                <li><a href="{{ url_for('mapa_com_filtros') }}">Mapa com Filtros</a></li>
            </ul>
        </nav>
    </header>

    <div class="presentation">
        <h1>Bem-vindo ao Projeto Uber</h1>
        <img src="{{ url_for('static', filename='presentation_image.jpg') }}" alt="Imagem de Apresentação">
        <p>Este projeto visualiza dados de viagens usando um mapa interativo. Acesse a seção 'Mapa com Filtros' para aplicar filtros e explorar os dados.</p>
    </div>

    <footer>
        <p>&copy; 2024 Seu Nome. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
