<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Início</a></li>
                <li><a href="{{ url_for('colabore') }}">Colaborar</a></li>
                <li><a href="{{ url_for('aumente_seus_ganhos') }}">Aumente seus ganhos!</a></li>
            </ul>
            <div class="accessibility-controls">
                <button id="increase-text" title="Aumentar texto">
                    <i class="fas fa-search-plus"></i>
                </button>
                <button id="decrease-text" title="Diminuir texto">
                    <i class="fas fa-search-minus"></i>
                </button>
                <button id="reset-text" title="Resetar texto">
                    <i class="fas fa-undo-alt"></i>
                </button>
            </div>
        </nav>
    </header>

    <div class="presentation">
        <h1>Bem-vindo ao Projeto Uber</h1>
        <img src="{{ url_for('static', filename='motorista.jpg') }}" alt="Imagem de Apresentação">
        <p>Este projeto visualiza dados de viagens usando um mapa interativo. Acesse a seção 'Mapa com Filtros' para aplicar filtros e explorar os dados.</p>
    </div>

</body>
</html>
